<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/register.css">
  </head>
  <body>
    <h1>Register</h1>
    <form action="/admin" method="post">
      <label for="">Id</label>
      <input type="text" placeholder="id" name="patient_id" />
      <label for="">name</label>
      <input type="text" placeholder="name" name="patient_name" />
      <label for="">age</label>
      <input type="number" placeholder="age" name="patient_age" />
      <label for="">address</label>
      <input type="text" placeholder="address" name="patient_address" />
      <label for="">mobile No</label>
      <input type="number" placeholder="contact Number" name="patinet_mobileNo" />
      <label for="">disease</label>
      <input type="text" placeholder="disease" name="patient_disease" />
      <button>submit</button>
    </form>
  </body>
</html>
