<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/search.css" />
  </head>
  <body>
    <form action="/<%= url %>" method="post">
      <h1><%= option %></h1>

      <div class="container">
        <label for="">Customer id</label>
        <input
          type="text"
          placeholder="Enter the customer id"
          name="patient_id"
        />
      <button><%= buttonName %></button>

      </div>
    </form>
  </body>
</html>
